* {
    margin: 0;
    padding: 0;
    /* 清除元素默认的内外边距 */
    /* 一个页面只需要写一次,初始化代码 */
}
body {
    background-color: #B2EBF2;
}

.banner {
    /* banner属性设置 */
    width: 100%px;
    height: 240px;
    background-color: #00BCD4;
    position: relative;
}

.shouye {
    width: 100px;
    height: 50px;
    font-size: 28px;
    bottom: 0px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
}

.banner a{
    /* banner里面的a标签默认属性 */
    text-decoration: none;
    color: #101010; 
}

.jiaocheng {
    width: 100px;
    height: 50px;
    font-size: 28px;
    bottom: 0px;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
}

.yingyin {
    width: 100px;
    height: 50px;
    font-size: 28px;
    bottom: 0px;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
}

.guanyu {
    width: 100px;
    height: 50px;
    font-size: 28px;
    bottom: 0px;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
}

.zhuti {
    width: 100%;
    height: 100%;
    
}