body {
    background-color: #ffffff;
}

input::placeholder {
    color: #757575;
}

/* banner属性设置 */
.banner {
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #00BCD4;
    background-image: url('../../img/common/banner.jpg');
    background-size: cover;
}

.logo{
    position: absolute;
    right: 10%;
    top: 20%;
}

/* 设置导航的框高与浮动样式 */
.daohang {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
    margin-left: 8%;
    bottom: 0px;
    position: absolute;
}

.banner li {
    display: block;
    width: 100%;
    height: 50px;
}

/* 盒子中的a标签水平垂直居中 */
.banner a {
    display: block;
    width: 100%;
    color: #00a1d6;
    line-height: 50px;
    font-size: 28px;
    text-align: center;
}

a:hover {
    color: #fc8bab;
}

.main {
    height: 100%;
    background-color: #f4f5f7;
}

.contain {
    width: 80%;
    /* height: 100%; */
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.search {
    position: relative;
    height: 50px;
    width: 100%;
}

.search-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 8px;
    top: 10px;
    right: 5%;
    overflow: hidden;
    background-color: #F2F3F4;
}

.put {
    display: block;
    height: 100%;
    width: 90%;
    border: none;
    color: black;
    outline: medium;
    background-color: #F2F3F4;
}

.search-icon-box {
    display: flex;
    width: 10%;
    height: 100%;
    right: 0%;
    border: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #40c5f1;
}

/* icon顯示黑色*/
.search-icon-box img {
    filter: brightness(0);
}

.show {
    width: 60%;
    padding-top: 200px;
}

.show-video {
    display: flex;
    width: 100%;
    /* background-color: black; */
}

.show-video video {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.show-picture{
    display: flex;
    width: 80%;
    height: 250px;
    margin-top: 20px;
    margin-left: 10%;
    justify-content: space-between;
    /* background-color: #fc8bab; */
}

.footer{
    width: 100%;
    height: 80px;
    background-color: #757575;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color:#f4f5f7;
}

.footer a {
    color: #ffffff;
    line-height: 20px;
    font-size: 14px;
    text-align: center; 
}

.footer span a{
    font-size: 20px;
    color:#fc8bab;
    line-height: 55px;
}

/* pre{
    display: block;
    font-family: monospace;
    white-space: pre;
}

p{
    color: #4d4d4d;
    font-weight: 400;
    line-height: 24px!important;
    margin: 0 0 16px;
    overflow-x: auto;
    overflow-y: hidden;
} */