* {
    margin: 0;
    padding: 0;
    /* 清除元素默认的内外边距 */
    /* 一个页面只需要写一次,初始化代码 */
  }

  li {
    list-style: none;
    /* 清除li标签的前面的小点点 */
}


a {
    text-decoration: none;
    /* 清除a标签的下划线 */
}

body {
    background-color: #B2EBF2;
}

/* banner属性设置 */
.banner {
    width: 100%px;
    height: 240px;
    background-color: #00BCD4;
    position: relative;
}

/* 设置导航的框高与浮动样式 */
.daohang {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 50px;
    margin-left: 8%;
    bottom: 0px;
    position: absolute;
}

/* 设置导航内盒子占用导航块的比例与高度 */
.daohang div{
    flex: 25%;
    height: 50px;
}

/* banner里面的a标签默认属性 */
.banner a{
    width: 100%;
    margin-left: 88px;
    color: #101010;
    display: flex;
    height: 50px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    
}

main{
    position: relative;
}

.search-box {
    height: 40px;
    width: 400px;
    border: none;
    top: 10px;
    right: 10%;
    position: absolute;
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
}

.put {
    height:100%;
    width: 90%;
    border: none;
    color:#999;
    outline:medium; 
}

.search-icon-box{
    width: 40px;
    height: 100%;
    right: 10%;
    background-color: rgba(140, 140, 250, 1);
    position: absolute;
}