<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/img/weblogo.ico" />
    <link rel="stylesheet" href="../../static/css/global.css" type="text/css">
    <!-- <link rel="stylesheet" href="../../static/css/nav.css" type="text/css"> -->
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/index.css" type="text/css">
    <title>生活の真相资源网</title>
</head>

<body>
    <div id="root">
        {% include 'banner.html' %}
        <main id="main" class="main">
            <div name="line-box" id="line-box" class="line-box">
                <ul id="filter-1" class="filter">
                    <li><a name="PR下载" href="{{ url_for('jiaocheng.index') }}"> PR下载</a></li>
                    <li><a name="PS下载" href="{{ url_for('jiaocheng.index') }}"> PS下载</a></li>
                    <!-- <li><a href="{{ url_for('jiaocheng.aedownload') }}"> AE下载</a></li>
                    <li><a href="{{ url_for('jiaocheng.c4ddownload') }}"> C4D下载</a></li> -->
                </ul>
                <!-- <ul id="filter-2" class="filter">
                    <li><a href=""> PR插件</a> </li>
                    <li><a href=""> AE插件</a></li>
                    <li><a href=""> PS插件</a></li>
                    <li><a href=""> PR脚本</a></li>
                    <li><a href=""> 字幕预设</a></li>
                </ul> -->
            </div>
            
             <div name="card-area" id="card-area" class="card-area">
                 {% for soft in result.softwarInfo %}
                 <div id="card" name="card" class="card">
                    <a href="{{ url_for('jiaocheng.prdownload', softname= soft.softName) }}" class="imgwrap"><img src="{{soft.softURL}}" alt="卡片图片" class="card-img"></a>
                    <!-- <div id="son-tag" name="son-tag" class="son-tag">
                        <div id="point-1" class="point-1"></div>
                        <span>子标签1</span>
                        <div id="point-2" class="point-2"></div>
                        <span>子标签2</span>
                    </div> -->
                    <a href="{{ url_for('jiaocheng.prdownload', softname= soft.softName) }}">
                        <div id="card-title" class="card-title" style="margin-top: 20px;">{{soft.softName}}</div>
                    </a>
                    <!-- <div id="preview" class="preview">
                        <img src="../../static/img/common/preview.png" alt="预览icon">
                        <span> 500</span>
                    </div> -->
                </div>
                 {% endfor %}
               
               <!--  <div id="card" name="card" class="card">
                    <img src="..\..\static\img\ciyun.png" alt="卡片图片" class="card-img">
                    <div id="son-tag" name="son-tag" class="son-tag">
                        <div id="point-1" class="point-1"></div>
                        <span>子标签1</span>
                        <div id="point-2" class="point-2"></div>
                        <span>子标签2</span>
                    </div>
                    <div id="card-title" class="card-title">
                        我士大夫撒旦富士达富士达范德萨开飞机的撒娇发士大夫静安寺发士大夫就爱上对方阿三酱豆腐深刻搭街坊撒酒疯喀什酱豆腐萨夫卡的说法</div>
                    <div id="preview" class="preview">
                        <img src="../../static/img/common/preview.png" alt="预览icon">
                        <span> 500</span>
                    </div>
                </div>
 -->
            </div>
            <div id="pagewrap"><div class="paging">
            </div></div>
        </main>
        <div id="footer" class="footer">Copyright ©爱分享. | 本站内所有涉及的下载软件均收集于互联网，如果侵犯了你的权益，请联系我及时删除。 </div>    
    </div>
    <script src="../../static/js/page.js"></script>
    <script src="../../static/js/jquery-3.6.0.js"></script>
    <script src="../../static/js/navscript.js" type="text/javascript"></script>
    <script>
        let paging = new Paging({ total: 1 });
    </script>
</body>

</html>