<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/img/weblogo.ico" />
    <link rel="stylesheet" href="../../static/css/global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/software-down.css" type="text/css">
    <title>生活の真相资源网</title>
</head>

<body>
    <div id="root">
        <div name="banner" id="banner" class="banner">
            <a href="{{ url_for('home.index') }}"><img src="../static/img/common/透明logo.png" alt="网站logo"
                    class="logo"></a>
            <ul name="daohang" id="daohang" class="daohang">
                <li><a href="{{ url_for('home.index') }}">首页</a></li>
                <li><a href="{{ url_for('jiaocheng.index') }}">软件</a></li>
                <!-- <li><a href="{{ url_for('yingyin.index') }}">影音</a></li> -->
                <li><a href="{{ url_for('guanyu.about') }}">关于</a></li>
            </ul>
        </div>
        <main id="main" class="main">
            <div id="focusbox" class="focusbox">{{ result.downloadTP}}</div>

            <!-- <div id="wrap">
                <a href="{{  url_for('jiaocheng.software_upload') }}" id="uploads" class="uploads">
                    <div>软件 上传</div>
                </a>
            </div> -->
            <div id="contain" class="contain">
                <div id="details" class="details">
                    <div id="icon"><img src="{{ result.data.softURL }}" alt="软件ICON">
                        <div id="software-name">
                            <h2>软件名称: {{ result.data.softName }}</h2>
                            <p>更新时间：{{ result.data.mtime }}</p>
                        </div>
                    </div>
                    <p><strong><span style="color: #00005b;">软件说明：</span></strong>{{ result.data.softDesc }}<br><br></p>
                    <div>
                    </div>
                </div>
            </div>
            <div id="mid">
                <div class="software-details">
                    <h2>软件信息</h2>
                    <p>
                        <span style="color: #ff9900;"><strong>软件大小：</strong></span>{{ result.data.softSize }}<br>
                        <strong><span style="color: #ff9900;">软件语言：</span></strong>{{ result.data.softLanguage }}<br>
                        <span style="color: #ff9900;"><strong>制作发行：</strong></span>{{ result.data.issue }}<br>
                        <strong><span style="color: #ff9900;">版权声明：</span></strong>{{ result.data.copyright }}
                    </p>
                    <h2>安装教程</h2>
                    <div id="install" hidden="hidden">{{ result.data.install }}</div>
                    <div id="installs" name="install"></div>

                    <h2>功能特色</h2>
                    <div id="feature" hidden="hidden">{{ result.data.feature }}</div>
                    <div id="features" name="install"></div>
                    <div class="post-note alert alert-warning mt-2" role="alert"><span
                            style="color: #210027;"><strong>版权声明：</strong></span>本站所有资源版权均属于原作者所有，这里所提供资源均只能用于参考学习用，请勿直接商用。若由于商用引起版权纠纷，一切责任均由使用者承担。如若本站内容侵犯了原著者的合法权益，可联系我们进行删除处理。
                    </div>
                </div>
                <div id="download" class="download">
                    <button class="download-now"><img src="../../static/img/common/download.png"
                            alt="下载icon">直接下载</button>
                    <strong><span style="color: #ff9900;">阿里云盘：</span></strong>
                    <div style="font-size: 0;"><a href="{{ result.data.aliyunLink }}"><button
                                style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button></a>
                        <button id="pwd" onclick="copyText()"
                            style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;"><span>密码：</span>{{result.data.aliyunLinkPwd}}</button>
                    </div>
                    <strong><span style="color: #ff9900;">百度网盘：</span></strong>
                    <div style="font-size: 0;"><a href="{{ result.data.baiduLink }}"><button
                                style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button></a>
                        <button id="pwd1" onclick="copyText1()"
                            style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;"><span>密码：</span>{{result.data.baiduLinkPwd}}</button>
                    </div>
                    <strong><span style="color: #ff9900;">夸克网盘：</span></strong>
                    <div style="font-size: 0;"><a href="{{ result.data.kuakeLink}}"><button
                                style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button></a>
                        <button id="pwd2" onclick="copyText2()"
                            style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;"><span>密码：</span>{{result.data.kuakeLinkPwd}}</button>
                    </div>
                </div>
            </div>
        </main>
        <div id="footer" class="footer">Copyright ©xxxxxxx. | 本站内所有涉及的下载软件均收集于互联网，如果侵犯了你的权益，请联系我及时删除。 </div>
    </div>
    <script src="../../static/js/jquery-3.6.0.js"></script>
    <script>
        $(function () {
            $("#installs").html($("#install").text());
        });

        $(function () {
            $("#features").html($("#feature").text());
        });
    </script>
    <script>
        function copyText() {
        var text = document.getElementById("pwd").innerText;
        var pwd = text.substring(text.indexOf('：')+1)
        console.log(pwd)
        if (navigator.clipboard) {
            // clipboard api 复制
            navigator.clipboard.writeText(pwd);
            alert("复制成功")
        } 
    }
    </script>
    <script>
        function copyText1() {
        var text = document.getElementById("pwd1").innerText;
        var pwd = text.substring(text.indexOf('：')+1)
        console.log(pwd)
        if (navigator.clipboard) {
            // clipboard api 复制
            navigator.clipboard.writeText(pwd);
            alert("复制成功")
        } 
    }
    </script>
    <script>
        function copyText2() {
        var text = document.getElementById("pwd2").innerText;
        var pwd = text.substring(text.indexOf('：')+1)
        console.log(pwd)
        if (navigator.clipboard) {
            // clipboard api 复制
            navigator.clipboard.writeText(pwd);
            alert("复制成功")
        } 
    }
    </script>
</body>

</html>