<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/software-down.css" type="text/css">
    <title>教程</title>
</head>
<body>
    <div id="root">
        <div name="banner" id="banner" class="banner">
            <a href="{{ url_for('home.index') }}"><img src="../static/img/common/透明logo.png" alt="网站logo" class="logo"></a>
            <ul name="daohang" id="daohang" class="daohang">
                <li><a href="{{ url_for('home.index') }}">首页</a></li>
                <li><a href="{{ url_for('jiaocheng.index') }}">软件</a></li>
                <li><a href="{{ url_for('yingyin.index') }}">影音</a></li>
                <li><a href="{{ url_for('guanyu.about') }}">关于</a></li>
            </ul>
        </div>
        <main id="main" class="main">
            <div id="focusbox" class="focusbox">xxx下载</div>
            
        </main>
        <div id="footer" class="footer">Copyright ©xxxxxxx. | 本站内所有涉及的下载软件均收集于互联网，如果侵犯了你的权益，请联系我们及时删除。 </div>
    </div>
</body>

</html>