<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" /> -->
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index/index.css"> 
    <link rel="stylesheet" href="../static/css/jiaocheng/software-upload.css">
    <title>软件上传</title>
</head>

<body>
    <div id="root">
        <div name="banner" id="banner" class="banner">
            <a href="{{ url_for('home.index') }}"><img src="../static/img/common/透明logo.png" alt="网站logo"
                    class="logo"></a>
            <ul name="daohang" id="daohang" class="daohang">
                <li><a href="{{ url_for('home.index') }}">首页</a></li>
                <li><a href="{{ url_for('jiaocheng.index') }}">软件</a></li>
                <!-- <li><a href="{{ url_for('yingyin.index') }}">影音</a></li> -->
                <li><a href="{{ url_for('guanyu.about') }}">关于</a></li>
            </ul>
        </div>
        <main id="main" class="main">
            <form action="" method="post">
                <div id="warp" class="wrap">
                    <div id="software-title"><span>任务名称: &nbsp</span></div>
                    <div><input id="software-name" class="software-input" type="text" placeholder="请输入软件名称" maxlength="50" value></div>
                </div>
                <div id="warp" class="wrap">
                    <div id="software-title"><span>软件介绍: &nbsp</span></div>
                    <div><input id="software-name" class="software-input" type="text" placeholder="请输入软件名称" maxlength="50" value></div>
                </div>


            </form>
            
        </main>
    </div>

</body>

</html>