<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/video-preview.css" type="text/css">
    <!-- <link rel="stylesheet" href="../../static/css/jiaocheng/index.css" type="text/css"> -->
    <title>PR模板</title>
</head>

<body>
    <div id="root">
        <a href="../jiaocheng/index.html" class="reback-out">
            <div id="reback" class="reback">
                <img src="../../static/img/reback.png" alt="返回箭头">
                <span>返回上一页</span>
            </div>
        </a>
        <div class="play-video">
            <video src="../../static/vedio/点云工具3维图缩放优化.mp4"></video>
        </div>
        <div id="details-download" class="details-download">
            <div id="details" class="details">
                <div class="entry-content u-text-format u-clearfix">
                    <h2>模板信息</h2>
                    <p><strong><span style="color: #ff9900;">模板说明：</span></strong>Transitions Pack是一个巨大的Premiere
                        Pro模板，包含300多个独特，干净且动态的动画过渡，各种形状有30多种原创动画。 它易于使用和编辑。
                        创建您自己的惊人的商业幻灯片，企业演示，即将举办的活动，促销，介绍，开场白，电影，电影，预告片，戏弄，Facebook和YouTube视频。
                        通过这些简单，流畅且富有创意的动画过渡效果给您的观众留下深刻印象。 提供全高清和4K。Transitions Pack是一个巨大的Premiere
                        Pro模板，包含300多个独特，干净且动态的动画过渡，各种形状有30多种原创动画。 它易于使用和编辑。
                        创建您自己的惊人的商业幻灯片，企业演示，即将举办的活动，促销，介绍，开场白，电影，电影，预告片，戏弄，Facebook和YouTube视频。
                        通过这些简单，流畅且富有创意的动画过渡效果给您的观众留下深刻印象。 提供全高清和4K<br><br>
                        <strong><span style="color: #ff9900;">模板格式：</span></strong>.prproj文件<br><br>
                        <strong><span style="color: #ff9900;">适用软件：</span></strong>PremiereCC 2018或更高版本<br><br>
                        <strong><span style="color: #ff9900;">插件要求：</span></strong>无需第三方插件<br><br>
                        <strong><span style="color: #ff9900;">分 &nbsp;辨 率：</span></strong>4K 3840×2160<br><br>
                        <strong><span style="color: #ff9900;">文件大小：</span></strong>418MB<br><br>
                        <strong><span style="color: #ff9900;">背景音乐：</span></strong>不包含背景音乐
                    </p>
                </div>
            </div>
            <div id="download" class="download">
                <button class="download-now"><img src="../../static/img/download.png" alt="下载icon">直接下载</button>
                <strong><span style="color: #ff9900;">阿里云盘：</span></strong>
                <div style="font-size: 0;"><button
                        style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button>
                    <button
                        style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;">密码</button>
                </div>
                <strong><span style="color: #ff9900;">百度网盘：</span></strong>
                <div style="font-size: 0;"><button
                        style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button>
                    <button
                        style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;">密码</button>
                </div>
                <strong><span style="color: #ff9900;">夸克网盘：</span></strong>
                <div style="font-size: 0;"><button
                        style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button>
                    <button
                        style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;">密码</button>
                </div>

            </div>
        </div>
        <div id="left-right" class="left-right">
            <div>
                <img src="../../static/img/L-arrow.png" alt="">
                <span style="text-align: right; padding-right: 10px;">向左翻页</span>
            </div>
            <div>
                <span style="text-align: left; padding-left: 10px;">向右翻页</span>
                <img src="../../static/img/R-arrow.png" alt=""></div>
        </div>
    </div>
</body>

</html>