<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/jiaocheng/video-preview.css" type="text/css">
    <!-- <link rel="stylesheet" href="../../static/css/jiaocheng/index.css" type="text/css"> -->
    <title>PR模板</title>
</head>

<body>
    <div id="root">
        <a href="" class="reback-out">
            <div id="reback" class="reback">
                <img src="../../static/img/reback.png" alt="返回箭头">
                <span>返回上一页</span>
            </div>
        </a>
        <div class="play-video">
            <video src="../../static/vedio/点云工具3维图缩放优化.mp4"></video>
        </div>
        <div id="details-download" class="details-download">
            <div id="details" class="details">
                <div class="entry-content u-text-format u-clearfix">
                    <h2>模板信息</h2>
                    <p><strong><span style="color: #ff9900;">模板说明：</span></strong>Transitions Pack是一个巨大的Premiere
                        Pro模板，包含300多个独特，干净且动态的动画过渡，各种形状有30多种原创动画。 它易于使用和编辑。
                        创建您自己的惊人的商业幻灯片，企业演示，即将举办的活动，促销，介绍，开场白，电影，电影，预告片，戏弄，Facebook和YouTube视频。
                        通过这些简单，流畅且富有创意的动画过渡效果给您的观众留下深刻印象。 提供全高清和4K。<br>
                        <strong><span style="color: #ff9900;">模板格式：</span></strong>.prproj文件<br>
                        <strong><span style="color: #ff9900;">适用软件：</span></strong>PremiereCC 2018或更高版本<br>
                        <strong><span style="color: #ff9900;">插件要求：</span></strong>无需第三方插件<br>
                        <strong><span style="color: #ff9900;">分 &nbsp;辨 率：</span></strong>4K 3840×2160<br>
                        <strong><span style="color: #ff9900;">文件大小：</span></strong>418MB<br>
                        <strong><span style="color: #ff9900;">背景音乐：</span></strong>不包含背景音乐
                    </p>
                </div>
            </div>
            <div id="download"></div>
        </div>
    </div>
</body>

</html>