<head>
    <link rel="stylesheet" href="../../static/css/fankui/competition.css">
</head>

<form action="{{ url_for('guanyu.soft_upload') }}" method="post" class="competitionFormat">
    <h1>比赛信息</h1>
    <div id="competition-box-info">
        <div id="competition-Title"><span>赛事名称:</span></div>
        <div class="wrapInput"><input id="competitionName" name="competitionName" class="competitionName" type="text"
                placeholder="  请输入赛事" maxlength="50" value></div>
    </div>
    <div class="competitionWrap">
        <div id='daterange' class="dateinputer">
        </div>
    </div>
</form>
<script src="../static/js/jquery-3.6.0.js"></script>
<script src="../static/js/moment.js"></script>
<script type="text/javascript" src="../static/js/xndatepicker.js"></script>
<script type="text/javascript">
    var daterange=new XNDatepicker($("#daterange"),{
        // format:'YYYY-MM-DD',
        type:'daterange',//year/month/date/multiple/ week/datetime/datetimerange/ daterange/monthrange/yearrange
        multipleDates:[],//当为多选日期类型时的初始值
        startTime:'',
        // endTime:'2036-04-04',
        // minDate:'2019-04-04',
        maxDate:'',
        separator:' 到 ',
        showType:'modal',
        linkPanels:false,//面板联动
        showClear:true,//是否显示清除按钮
        autoConfirm:true,
        showShortKeys:true,
        autoFillDate:true,//自动变更element里面的值
    },function(data){
        console.log(data)
    },)
</script>