<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/img/weblogo.ico" />
    <link rel="stylesheet" href="../../static/css/global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/fankui/home.css" type="text/css">
    <title>生活の真相资源网</title>
</head>

<body>
    <div id="root">
        <div id="main" class="main">
            <ul name="daohang" id="daohang">
                <div class="nav_menu w">
                    <div class="menu_item">
                        <div class="home" style="box-sizing: content-box; font-size: 24px;">首页</div>
                        <a class="web_home" href="{{ url_for('home.index') }}">
                            <div>首页/直播</div>
                        </a>
                    </div>
                    <div class="menu_item">
                        <div class="home">软件</div>
                        <a class="web_home" href="{{ url_for('jiaocheng.index') }}">
                            <div>软件/教程</div>
                        </a>
                    </div>
                    <div class="menu_item">
                        <div class="home">影音</div>
                        <a class="web_home" href="{{ url_for('yingyin.index') }}" class="web_home">
                            <div>音视频</div>
                        </a>
                    </div>
                    <div class="menu_item">
                        <div class="home">关于</div>
                        <a class="web_home" href="{{ url_for('guanyu.about') }}">
                            <div>意见反馈</div>
                        </a>
                    </div>
                </div>
            </ul>
            <img id="img" class="img" src="../../static/img/2233娘.jpg" alt="2233娘">
            <div id="feedback" class="feedback">
                <form id="feedbackForm" method="POST" onsubmit="javascript:return subfun();">
                    <h2>意见反馈</h2>
                    <span>有关资源需求，网站设计等等，欢迎联系我！！！</span>
                    <input id="username" name="username" type="text" placeholder="昵称，建议使用B站用户名" list="batch_list">
                    <datalist id="batch_list"></datalist>
                    <div class="fans-info" style="display: none;">
                        <span id="mtime">关注时间：</span>
                        <span id="viptype">会员类型：</span>
                        <span id="sign">个性签名：</span>
                    </div>
                    <div id="submit" class="submit"><textarea id="msg" name="opinion" id="" cols="30" rows="12"
                            placeholder="请留言。。。"></textarea>
                        <button id="submitButton" type="submit">提交</button>
                    </div>
                </form>
            </div>

            <img id="cat-img" class="cat-img" src="../../static/img/common/卡通猫.png" alt="装饰卡通猫">
        </div>
        <div class="box">
            <span class="line"></span>
            <span class="text"> &nbsp;生&nbsp; 活&nbsp; 其&nbsp; 实&nbsp; 可&nbsp; 以 &nbsp; 很&nbsp; 简&nbsp; 单&nbsp; </span>
            <span class="line"></span>
        </div>
    </div>

    <script type="text/javascript" src="../static/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../static/js/img.js"></script>
    <script type='text/javascript'>

        var jsondata = '123';

        window.onload = function () {
            const httpRequest = new XMLHttpRequest();
            const Url = window.location.origin + '/about/fans';
            httpRequest.open("GET", Url, true);
            httpRequest.send();

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    //获取到json字符串，还需解析
                    jsondata = eval('(' + httpRequest.responseText + ')');

                    var add_options;

                    for (var i = 0; i < jsondata.fans_name_list.length; i++) {
                        add_options += '<option value="' + jsondata.fans_name_list[i].fans_name + '">' + jsondata.fans_name_list[i].fans_name + '</option>';
                    }
                    $("datalist#batch_list").append(add_options);

                    //TODO: 获取粉丝关注时间的功能后面再做
                    // console.log('这是全局变量' + jsondata);

                    // var input_value = document.getElementById('#username')

                    // for (var i = 0; i < jsondata.fans_name_list.length; i++) {
                    //     if (jsondata.fans_name_list[i].fans_name == input_value.value) {
                    //         console.log('粉丝输入，显示粉丝相关信息')
                    //         document.getElementById("mtime").innerText = jsondata.fans_name_list[i].mtime;
                    //         document.getElementById("viptype").innerText = jsondata.fans_name_list[i].vip_type;
                    //         document.getElementById("sign").innerText = jsondata.fans_name_list[i].sign;
                    //     }
                    // }

                }
            }
        }
    </script>

    <script type="text/javascript">
        var time=0;  
        var btn = document.getElementById("cat-img");
        btn.addEventListener('click', function () {
            time++;
            if(time>=10){
                // alert('点击超过10次，将跳转到数据上传页面。')
                window.location.href= window.location.origin + '/about/upload'; 
            }
        }, false)

    </script>

    <!-- <script>
        // TODO: 新增一个弹窗在中间的对话框，对话框点击确定后再发送请求（有必要么？)
        function subfun() {
            $.ajax({
                url: window.location.origin + "/about/feedback",
                type: "POST",
                data: $('#feedbackForm').serialize(),
                success: function (data) {
                    alert(data.msg)
                },
                error: function (data) {
                    alert(data.msg)
                }
            });
            return false;
        }
    </script> -->
</body>

</html>