<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/fankui/upload.css" type="text/css">
    <title>文件上传</title>
</head>

<body>
    <a href="../fankui/home.html" class="reback-out" style="margin-top: 100px;">
        <img src="../../static/img/common/reback.png" alt="返回箭头">
        <span>返回上一页</span>
    </a>
    <div id="main" class="main">
        <div id="content" class="content">
            <div id="file-type" class="file-type">
                <span>文件类型：</span>
                <label><input id="img" type="radio" name="file-type" value="img" checked="checked" />&nbsp;图片</label>
                <label><input id="audio" type="radio" name="file-type" value="audio" />&nbsp;音频</label>
                <label><input id="video" type="radio" name="file-type" value="video" />&nbsp;视频</label>
            </div>
            <div id="info" style="display: block;">
                <span>图片简介：</span>
                <!-- <input type="text"> -->
                <textarea name="info" id="img-info" placeholder="图片描述信息" maxlength="150"></textarea>
                <span>图片上传：</span>
                <div id="upload-img" class="upload-img">
                    <input type="file" name="" id="uploadfile" multiple>
                    <!-- 暂时用input替代试试 -->
                    <!-- <img id="img_file" src="../../static/img/common/add_icon.png" alt="添加图片ICON" οnchange=showImg()> -->
                </div>
                <div id="img-box"></div>
            </div>
            <div id="audio-info" class="audio-info" style="display: none;">
                <span>音频文件：</span>
                <div id="audio-upload" class="audio-upload">
                    <input id="audio-input" class="fileInput" type="file" multiple>
                    <img src="../../static/img/common/folder.png" alt="文件夹上传icon">
                    <span style="margin-top: 15px;">点击或将文件拖拽到这里上传</span>
                    <span>支持扩展名：.mp3 .mav .acc ...</span>
                </div>
                <div id="img-box"></div>
            </div>
            <button>确定</button>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            var input = document.getElementById("uploadfile");
            var div;
            // 当用户上传时触发事件
            input.onchange = function () {
                readFile(this);
            }

            //处理图片并添加都dom中的函数
            var readFile = function (obj) {
                // 获取input里面的文件组
                var fileList = obj.files;
                //对文件组进行遍历，可以到控制台打印出fileList去看看
                for (var i = 0; i < fileList.length; i++) {
                    var reader = new FileReader();
                    reader.readAsDataURL(fileList[i]);
                    // 当文件读取成功时执行的函数
                    reader.onload = function (e) {
                        console.log("文件路径是：" + this.result)
                        div = document.createElement('div');
                        div.innerHTML = '<img src="' + this.result + '" style="width:100px; height:100px; display:block; object-fit:contain" />';
                        document.getElementById("img-box").appendChild(div);
                    }
                }
            }
        }
    </script>

<!-- <script type="text/javascript">
    window.onload = function () {
        var audioInput = document.getElementById("audio-input");

        var div;
        // 当用户上传时触发事件
        audioInput.onchange = function () {
            readFile(this);
        }
        //处理图片并添加都dom中的函数
        var readFile = function (obj) {
            // 获取input里面的文件组
            var fileList = obj.files;
            //对文件组进行遍历，可以到控制台打印出fileList去看看
            for (var i = 0; i < fileList.length; i++) {
                var reader = new FileReader();
                reader.readAsDataURL(fileList[i]);
                // 当文件读取成功时执行的函数
                reader.onload = function (e) {
                    console.log("文件路径是：" + this.result)
                    div = document.createElement('div');
                    div.innerHTML = '<img src="' + this.result + '" style="width:100px; height:100px; display:block; object-fit:contain" />';
                    document.getElementById("img-box").appendChild(div);
                }
            }
        }
    }
</script> -->
    <script type="text/javascript">
        var imgInfo = document.getElementById("info")
        var audioInfo = document.getElementById("audio-info")
        // var vedioInfo = document.getElementById("vedio-info")
        document.getElementById("file-type").addEventListener("click", function (e) {
            if (e.target.tagName == "INPUT") {
                console.log("radiovalue", e.target.value)
                var variable = e.target.value
                if (variable == 'img') {
                    imgInfo.style.display = 'block'
                    audioInfo.style.display = 'none'
                    // vedioInfo.style.display == 'none'
                } else if (variable == 'audio') {
                    imgInfo.style.display = 'none'
                    audioInfo.style.display = 'block'
                    // vedioInfo.style.display == 'none'
                }
                // else{
                //     imgInfo.style.display == 'none'
                //     audioInfo.style.display == 'none'
                //     // vedioInfo.style.display == 'block'
                // }
            }
        })
    </script>
</body>

</html>