<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <!-- <link rel="stylesheet" href="../../static/css/yingyin/img-details.css" type="text/css"> -->
    <link rel="stylesheet" href="../../static/css/yingyin/audio-details.css" type="text/css">
    <title>音频详情</title>
</head>
<body>
    <a href="../yingyin/home.html" class="reback-out" style="margin-top: 100px;">
        <img src="../../static/img/common/reback.png" alt="返回箭头">
        <span>返回上一页</span>
    </a>
    <div id="main" class="main">
        <div id="audio-img" class="audio-img">
            <div id="img-frame" class="img-frame">
                <img src="../../static/img/common/网易云图标.png" alt="">
            </div>
            <!-- <audio controls src="../../static/audio/You Know What.mp3" autoplay="autoplay" loop> -->
                <!-- <source  type="audio/mpeg" codecs="mp3"> -->
            </audio>
        </div>
        <div id="lyrics">
            我是歌词
        </div>
    </div>
</body>
</html>