<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/audio-details.css" type="text/css">
    <title>音频详情</title>
</head>

<body>
    <a href="../yingyin/home.html" class="reback-out" style="margin-top: 100px;">
        <img src="../../static/img/common/reback.png" alt="返回箭头">
        <span>返回上一页</span>
    </a>
    <div id="main" class="main">
        <div id="audio-img" class="audio-img">
            <div id="img-frame" class="img-frame">
                <img id="title-cover" src="../../static/img/test-img/佛里达.jpg" alt="" class="title-cover">
                <img src="../../static/img/common/网易云图标.png" alt="" class="wangyiyun">
            </div>
            <audio id="music" controls src="../../static/audio/Infinity - Jaymes Young-(DJMaza).mp3" autoplay="autoplay" loop onclick="">
            </audio>
        </div>
        <div id="lyrics" class="lyrics">
            <div id="title" class="title">
                <h2>infinity</h2>
            </div>
            <div id="mask" class="mask"></div>
            <div id="lrc-area" class="lrc-area">
                <ul id="musicUl" class="musicUl">
                </ul>
            </div>
            
        </div>
    </div>
    <div id="download" class="download">
        <ul>
            <li><button class="download-now"><img src="../../static/img/common/download.png" alt="下载icon">直接下载</button>
            </li>
            <li>
                <div><button style="border-radius: 20px 0 0 20px">阿里云盘</button>
                    <button style="border-radius: 0 20px 20px 0; border-style: none none none solid; border-color: white; border-width: 1px;">密码</button>
                </div>
            </li>
            <li>
                <div><button style="border-radius: 20px 0 0 20px">百度网盘</button>
                    <button style="border-radius: 0 20px 20px 0; border-style: none none none solid; border-color: white; border-width: 1px;">密码</button>
                </div>
            </li>
            <li>
                <div><button style="border-radius: 20px 0 0 20px">夸克网盘</button>
                    <button style="border-radius: 0 20px 20px 0; border-style: none none none solid; border-color: white; border-width: 1px;">密码</button>
                </div>
            </li>
        </ul>
    </div>
    <script>
        window.onload = () => {
            let music = document.querySelector('#music');
            let title_cover = document.querySelector('#title-cover');

            // 为音乐按钮图标加一个点击事件，用来控制播放与否。
            title_cover.addEventListener('click', () => {
                if (music.paused) {
                    music.play();
                    title_cover.style.animation = 'playing infinite linear 6s';
                } else {
                    music.pause();
                    title_cover.style.animation = 'none';
                }
            });

            music.addEventListener('play', () => {
                title_cover.style.animation = 'playing infinite linear 6s';
            });

            music.addEventListener('pause', () => {
                title_cover.style.animation = 'none';
            });
        }
    </script>

    <script>
        function musicPlay(ele){
    let musicArea = document.getElementById('lyrics');
    let music =document.getElementById('music');
    let musicUl =document.getElementById('musicUl');
    let musicll =document.getElementById('musicll');
    let a = 250;//歌词容器到高，随便改,但最好和你自己写到那个div一样高；
    let b = 40;//li的高度，无特殊要求；
    let c ='../static/audio/You Know What.mp3'//歌曲目录，只能放一个哈！
    // ele.appendChild(musicArea).appendChild(music); musicArea.appendChild(musicUl);
    // musicStyle();

    let lrc = `[length:03:57.77]
[re:www.megalobiz.com/lrc/maker]
[ve:v1.2.3]
[00:15.05]Baby this love, I'll never let it die
[00:21.05]Can't be touched by no one, I'd like to see him try
[00:31.57]I'm a mad man for your touch
[00:34.33]Girl, I've lost control
[00:39.30]I'm gonna make this last forever
[00:41.07]Don't tell me it's impossible
[00:45.80]'Cause I love you for infinity
[00:49.80]I love you for infinity
[00:54.05]'Cause I love you for infinity
[00:58.05]I love you for infinity
[01:18.58]Oh darling, my soul
[01:21.80]You know it aches for your's
[01:24.80]And you've been filling this hole since you were born
[01:34.32]'Cause you're the reason I believe in fate
[01:37.05]You're my paradise
[01:42.30]And I'll do anything to be your love, or be your sacrifice
[01:49.04]'Cause I love you for infinity
[01:53.06]I love you for infinity
[01:56.81]'Cause I love you for infinity
[02:01.06]I love you for infinity
[02:22.80]Meet me at the bottom of the ocean
[02:26.55]Where the time is frozen
[02:31.80]Where all the universe is open
[02:35.08]Love isn't random, we are chosen
[02:39.07]And we could wear the same crown
[02:44.82]Keep slowing your heart down
[02:48.35]We are the gods now
[02:52.30]'Cause I love you for infinity
[02:56.07]I love you for infinity
[02:59.32]'Cause I love you for infinity
[03:04.09]I love you for infinity`

    function split(){//把lrc歌词分割成数组，
       let split_1 =lrc.split('\n');
       let length = split_1.length;
       for (let i = 0; i < length; i++) {
           let lrcArr = split_1[i];
           split_1[i] = change(lrcArr);
       function change(str){
           let lrc = str.split(']');
           let timer =lrc[0].replace('[','');
           let str_music =lrc[1];
           let time_split =timer.split(':');
           let s = +time_split[1];
           let min = +time_split[0];
           return{
               time:min*60 + s ,
               lrc :str_music//分割好到歌词和时间
           }
       }
   }
   return split_1
   }
   let lrcArr = split();//至此歌词处理完了。
   createLi();
   function createLi(){//根据歌词数组创建li
       let len = lrcArr.length;
       for (let i = 0; i < len; i++) {
             let lrc_li  = lrcArr[i];
             let musicll  = document.createElement('li');
             musicll.innerText =lrc_li.lrc;
             musicll.style.height = b + 'px'
             musicll.style.textAlign ='center'
             musicll.style.width='100%'
             musicll.style.padding = '0';
             musicll.style.color = '#212121'
            musicll.style.zIndex = '-1'
             musicUl.appendChild(musicll);
       }
   }
   function setCurrentLi(){
       let time = music.currentTime;
       for ( i = 0; i < lrcArr.length; i++) {
           let play = lrcArr[i];
           if (time -play.time <= 0) {
                return i;
           }
       }return -1;
   }
   function current(){//设置top，让其滚动
       let li = setCurrentLi();
       let divHeight = a;
       let liHeight =b;
       let top  = liHeight*li - divHeight / 2 +liHeight / 2;
       if (top < 0) {
           top = 0;
       }
    //    
       musicUl.style.marginTop = -top + 'px';
       let playLi =musicUl.querySelector('.play')
       if (playLi) {
           playLi.className = '';		
       }
       if(li>=0){
           musicUl.children[li-1].className ='play'
       
   }}
   music.ontimeupdate = current;
   }

   let ele =document.getElementById('music');
   musicPlay(ele);
    </script>
</body>

</html>