<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/img/weblogo.ico" />
    <link rel="stylesheet" href="../../static/css/global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/home.css" type="text/css">
    <title>生活の真相资源网</title>
</head>
<body>
    <div id="root">
        {% include 'banner.html' %}
        <div class="uploadWrap"><a href="{{url_for('yingyin.media_upload')}}" class="click-upload">
            <img src="../../static/img/common/upload-cloud.png" alt="云上传icon"  style="height: 32px; width:32px;">
            <span>点击上传</span>
        </a>
        </div>
        <div class="shell J_waterfall">
            <div class="image"><img src="https://picsum.photos/id/1/200/300"><a class="title"
                    href="">莎莎生日图集莎莎生日图集莎莎生日图集莎莎生日图集莎莎生日图集莎莎生日图集</a></div>
            <div class="image"><img src="https://picsum.photos/id/2/300/300"></div>
            <div class="image"><img src="https://picsum.photos/id/3/200/600"></div>
            <div class="image"><img src="https://picsum.photos/id/4/300/300"></div>
            <div class="image"><img src="https://picsum.photos/id/5/300/300"></div>
            <div class="image"><img src="https://picsum.photos/id/6/500/300"></div>
            <div class="image"><img src="https://picsum.photos/id/7/600/300"></div>
            <div class="image"><img src="https://picsum.photos/id/8/200/500"></div>
            <div class="image"><img src="https://picsum.photos/id/9/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/10/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/11/200/200"></div>
            <div class="image"><img src="https://picsum.photos/id/12/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/13/600/300"></div>
            <div class="image"><img src="https://picsum.photos/id/14/200/500"></div>
            <div class="image"><img src="https://picsum.photos/id/15/500/300"></div>
            <div class="image"><img src="https://picsum.photos/id/16/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/17/200/500"></div>
            <div class="image"><img src="https://picsum.photos/id/18/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/19/500/300"></div>
            <div class="image"><img src="https://picsum.photos/id/1/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/2/200/500"></div>
            <div class="image"><img src="https://picsum.photos/id/3/200/300"></div>
            <div class="image"><img src="https://picsum.photos/id/4/500/300"></div>
            <div class="image"><img src="https://picsum.photos/id/5/200/300"></div>
        </div>
    </div>
    
    <script src="../../static/js/waterfall.js"></script>
    <script>
        window.onload = function () {
            // 创建一个实例化对象
            new Waterfall({
                el: 'J_waterfall',
                column: 5,
                gap: 25
            })
        }
    </script>
    <!-- <script type='text/javascript'>

        window.onload = function () {
            const httpRequest = new XMLHttpRequest();
            const Url = window.location.origin + '/media/img_info';
            httpRequest.open("GET", Url, true);
            httpRequest.send();

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    //获取到json字符串，还需解析
                    jsondata = eval('(' + httpRequest.responseText + ')');
                    console.log(jsondata)

                    let img_content = document.getElementById('img-content')

                    



                    // for (var i = 0; i < jsondata.fans_name_list.length; i++) {
                    //     add_options += '<option value="' + jsondata.fans_name_list[i].fans_name + '">' + jsondata.fans_name_list[i].fans_name + '</option>';
                    // }
                    // $("datalist#batch_list").append(add_options);

                    //TODO: 获取粉丝关注时间的功能后面再做
                    // console.log('这是全局变量' + jsondata);

                    // var input_value = document.getElementById('#username')

                    // for (var i = 0; i < jsondata.fans_name_list.length; i++) {
                    //     if (jsondata.fans_name_list[i].fans_name == input_value.value) {
                    //         console.log('粉丝输入，显示粉丝相关信息')
                    //         document.getElementById("mtime").innerText = jsondata.fans_name_list[i].mtime;
                    //         document.getElementById("viptype").innerText = jsondata.fans_name_list[i].vip_type;
                    //         document.getElementById("sign").innerText = jsondata.fans_name_list[i].sign;
                    //     }
                    // }

                }
            }
        }
    </script> -->
</body>
</html>