<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/home.css" type="text/css">
    <title>影音</title>
</head>

<body>
    <div id="root">
        <div name="banner" id="banner" class="banner">
            <ul name="daohang" id="daohang" class="daohang">
                <li><a href="">首页</a></li>
                <li><a href="">教程</a></li>
                <li><a href="">影音</a></li>
                <li><a href="">关于</a></li>
            </ul>
        </div>
        <main class="index-main">
            <div class="img-title"><img src="../../static/img/common/picture.png" alt="图片icon"
                    style="display: inner-block; width: 20px; height:20px; margin-left: 5px;"><span>&nbsp; 图片</span>
            </div>
            <div id="img-content" class="img-content">
                <a href="../yingyin/img-details.html">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>

            </div>
            <div class="mucis-title"><img src="../../static/img/common/music.png" alt="音频icon"
                    style="display: inner-block; width: 20px; height:20px; margin-left: 5px;"><span>&nbsp; 音频</span>
            </div>
            <div id="music-content" class="img-content">
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <img src="../../static/img/ciyun.png" alt="图片信息">
                        <span>莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦莎莎手绘集锦</span>
                    </div>
                </a>

            </div>
            <div class="video-title"><img src="../../static/img/common/vedio.png" alt="视频icon"
                    style="display: inner-block; width: 20px; height:20px; margin-left: 5px;"><span>&nbsp; 视频</span>
            </div>
            <div id="video-content" class="img-content">
                <a href="">
                    <div id="content" class="single-content">
                        <video src="../../static/vedio/点云工具3维图缩放优化.mp4"></video>
                        <span>&nbsp;爱·死亡·机器人</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <video src="../../static/vedio/点云工具3维图缩放优化.mp4"></video>
                        <span>&nbsp;博人传 第700集</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <video src="../../static/vedio/点云工具3维图缩放优化.mp4"></video>
                        <span>&nbsp;斗破苍穹</span>
                    </div>
                </a>
                <a href="">
                    <div id="content" class="single-content">
                        <video src="../../static/vedio/点云工具3维图缩放优化.mp4"></video>
                        <span>&nbsp;完美世界</span>
                    </div>
                </a>
                <!-- <div id="TODO">以后要支持显示素材预览次数</div> -->
            </div>
        </main>
    </div>
</body>

</html>