<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/img-details.css" type="text/css">
    <title>图片详情</title>
</head>
<body>
    <a href="../yingyin/home.html" class="reback-out">
        <img src="../../static/img/reback.png" alt="返回箭头">
        <span>返回上一页</span>
    </a>
    <div id="main" class="main">
        <div id="details" class="details">
            <p>
            <strong><span style="color: #ff9900;">模板格式：</span></strong>.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件<br><br><br>
            <strong><span style="color: #ff9900;">适用软件：</span></strong>PremiereCC 2018或更高版本<br><br><br>
            <strong><span style="color: #ff9900;">插件要求：</span></strong>无需第三方插件<br><br><br>
        </p>
        </div>
        <div id="picture-list" class="picture-list"></div>
    </div>
</body>
</html>