<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/img-details.css" type="text/css">
    <title>图片详情</title>
</head>

<body>
    <a href="../yingyin/home.html" class="reback-out">
        <img src="../../static/img/common/reback.png" alt="返回箭头">
        <span>返回上一页</span>
    </a>
    <div id="main" class="main">
        <div id="details" class="details">
            <p>
                <strong><span
                        style="color: #ff9900;">图片详情：</span></strong>.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件.prproj文件<br><br><br>
                <strong><span style="color: #ff9900;">图片数量：</span></strong>PremiereCC 2018或更高版本<br><br><br>
                <strong><span style="color: #ff9900;">图片格式：</span></strong>无需第三方插件<br><br><br>
            </p>
            <div id="download" class="download">
                <button class="download-now"><img src="../../static/img/common/download.png"
                        alt="下载icon">直接下载</button><br><br>
                <strong><span style="color: #ff9900;">阿里云盘：</span></strong>
                <div style="font-size: 0;"><button
                        style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button>
                    <button
                        style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;">密码</button>
                </div><br>
                <strong><span style="color: #ff9900;">百度网盘：</span></strong>
                <div style="font-size: 0;"><button
                        style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button>
                    <button
                        style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;">密码</button>
                </div><br>
                <strong><span style="color: #ff9900;">夸克网盘：</span></strong>
                <div style="font-size: 0;"><button
                        style="border: none; color: #757575 ;border-radius: 5px 0 0 5px; margin-left: 10%; height: 30px; width: 40%;">点击下载</button>
                    <button
                        style="border: none; color: #757575 ;border-radius: 0 5px 5px 0; height: 30px; width: 40%;">密码</button>
                </div>

            </div>
        </div>
        <div id="picture-list" class="picture-list">
            <img id="img" src="../../static/img/common/double-list.png" alt="图片显示样式切换" class="show-img"
                onclick=change_pic()>
            <div id="separate" class="separate"><input id="all-select" type="checkbox" name="box"
                    style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                <ul style="width: 100%;">
                    <li id="img-info" class="img-info">
                        <span style="margin-left: 10px; width: 57%;text-align: left; padding-left: 20px;">全选</span>
                        <span style="width: 7%;">大小</span>
                        <span style="width: 15%;">上传时间</span>
                        <span style="width: 10%; margin-left: 7%;">操作</span>
                    </li>
                </ul>
            </div>
            <div id="content" class="content" style="display: flex;">
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/不知道.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/不记得.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/不记得阿里阿斯蒂芬.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/佛里达.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/冬.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/合集.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/夏.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/春.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/不知道.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/不记得.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/不记得阿里阿斯蒂芬.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/佛里达.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/冬.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/合集.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/夏.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
                <div id="img-box" class="img-box">
                    <img src="../../static/img/test-img/春.jpg" alt="测试用图">
                    <div class="checkbox" style="position:absolute;top:0;right:0;z-index:1000;padding-right:33px;">
                        <input id="box" type="checkbox" name="box">
                    </div>
                </div>
            </div>
            <div id="list-content" class="list-content" style="display: none;">
                <ul>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 10px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘01</span></strong>
                        <span style="width: 10%; color: #adb6b6;">425.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-24</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘之春天带炸</span></strong>
                        <span style="width: 10%; color: #adb6b6;">42.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-25</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘啥地方阿斯蒂芬sadf</span></strong>
                        <span style="width: 10%; color: #adb6b6;">400.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-11</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘0第三方萨法s1</span></strong>
                        <span style="width: 10%; color: #adb6b6;">25.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-27</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 10px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘01</span></strong>
                        <span style="width: 10%; color: #adb6b6;">425.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-24</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘之春天带炸</span></strong>
                        <span style="width: 10%; color: #adb6b6;">42.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-25</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘啥地方阿斯蒂芬sadf</span></strong>
                        <span style="width: 10%; color: #adb6b6;">400.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-11</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘0第三方萨法s1</span></strong>
                        <span style="width: 10%; color: #adb6b6;">25.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-27</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 10px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘01</span></strong>
                        <span style="width: 10%; color: #adb6b6;">425.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-24</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘之春天带炸</span></strong>
                        <span style="width: 10%; color: #adb6b6;">42.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-25</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘啥地方阿斯蒂芬sadf</span></strong>
                        <span style="width: 10%; color: #adb6b6;">400.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-11</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘0第三方萨法s1</span></strong>
                        <span style="width: 10%; color: #adb6b6;">25.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-27</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 10px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘01</span></strong>
                        <span style="width: 10%; color: #adb6b6;">425.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-24</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘之春天带炸</span></strong>
                        <span style="width: 10%; color: #adb6b6;">42.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-25</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘啥地方阿斯蒂芬sadf</span></strong>
                        <span style="width: 10%; color: #adb6b6;">400.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-11</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘0第三方萨法s1</span></strong>
                        <span style="width: 10%; color: #adb6b6;">25.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-27</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 10px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘01</span></strong>
                        <span style="width: 10%; color: #adb6b6;">425.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-24</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘之春天带炸</span></strong>
                        <span style="width: 10%; color: #adb6b6;">42.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-25</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘啥地方阿斯蒂芬sadf</span></strong>
                        <span style="width: 10%; color: #adb6b6;">400.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-11</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                    <li id="img-info" class="img-info">
                        <input id="box" type="checkbox" name="box"
                            style="width: 20px; height:20px; margin-top: 5px; margin-left: 10px;" value="0">
                        <strong style="color: black; margin-left: 10px; width: 65%;"><span
                                style=" text-align: left; padding-left: 20px;">莎莎手绘0第三方萨法s1</span></strong>
                        <span style="width: 10%; color: #adb6b6;">25.6kb</span>
                        <span style="width: 15%; color: #adb6b6;">2022-06-27</span>
                        <span style="width: 10%; margin-left: 8%;"><a href="">下载</a></span>
                    </li>
                </ul>
            </div>
            <div id="count" class="count"><span>已加载全部文件，总计678989个。</span></div>
        </div>
    </div>

    
    <script>
        var all = document.querySelector('#all-select');
        var sports = document.querySelector('#content').querySelectorAll('input');
        var list_sports = document.querySelector('#list-content').querySelectorAll('input');
        var content = document.getElementById("content").style.display
        var list_contentent = document.getElementById("list-content").style.display


        function change_pic() {
            var imgObj = document.getElementById("img");
            if (imgObj.getAttribute("src", 2) == "../../static/img/common/list.png") {
                imgObj.src = "../../static/img/common/double-list.png";
                document.getElementById("content").style.display = "flex";
                document.getElementById("list-content").style.display = "none";

                all.onclick = function() {
                    console.log("视图模式全选？ ---" + all.checked);
                    for (var i = 0; i < sports.length; i++) {
                        sports[i].checked = all.checked;
                    }
                }
                for (var i = 0; i < sports.length; i++) {
                    sports[i].onclick = function () {
                        // 控制全选按钮是否选中
                        var flag = true;
                        // 每次点击一个小框，都检查是否所有复选框都被选中
                        for (var i = 0; i < sports.length; i++) {
                            if (!sports[i].checked) {
                                flag = false;
                                break; // 只要有一个小复选框没有被选中，全选按钮就没被选中，可跳出循环，下面小复选框不用再判断
                            }
                        }
                        all.checked = flag;
                    }
                }

                all.checked = false

            } else {
                imgObj.src = "../../static/img/common/list.png";
                document.getElementById("content").style.display = "none";
                document.getElementById("list-content").style.display = "block";
                
                all.onclick = function() {
                    console.log("列表模式全选？ ---" + all.checked);
                    for (var i = 0; i < list_sports.length; i++) {
                        list_sports[i].checked = all.checked;
                    }
                }
            for (var i = 0; i < list_sports.length; i++) {
                list_sports[i].onclick = function () {
                    // 控制全选按钮是否选中
                    var flag = true;
                    // 每次点击一个小框，都检查是否所有复选框都被选中
                    for (var i = 0; i < list_sports.length; i++) {
                        if (!list_sports[i].checked) {
                            flag = false;
                            break; // 只要有一个小复选框没有被选中，全选按钮就没被选中，可跳出循环，下面小复选框不用再判断
                        }
                    }
                    all.checked = flag;
                }
            }
            all.checked = false
            }
        }
    </script>
    <script>
        var all = document.querySelector('#all-select');
        var sports = document.querySelector('#content').querySelectorAll('input');
        var list_sports = document.querySelector('#list-content').querySelectorAll('input');
        var content = document.getElementById("content").style.display
        var list_contentent = document.getElementById("list-content").style.display

 
        all.onclick = function() {
                console.log("视图模式全选？ ---" + all.checked);
                for (var i = 0; i < sports.length; i++) {
                    sports[i].checked = all.checked;
                }
            }
            for (var i = 0; i < sports.length; i++) {
                sports[i].onclick = function () {
                    // 控制全选按钮是否选中
                    var flag = true;
                    // 每次点击一个小框，都检查是否所有复选框都被选中
                    for (var i = 0; i < sports.length; i++) {
                        if (!sports[i].checked) {
                            flag = false;
                            break; // 只要有一个小复选框没有被选中，全选按钮就没被选中，可跳出循环，下面小复选框不用再判断
                        }
                    }
                    all.checked = flag;
                }
            }
        


    </script>
</body>


</html>