<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/yingyin/media-upload.css">
    <title>生活の真相资源网-后台管理</title>
</head>
<body>
    <div class="root">
        <div class="main">
            <form action="" >
                <div class="wrap">
                    <div class="cover"><span>标题</span></div>
                    <div>
                        <input type="text">
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>