<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/index/index.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/more.css" type="text/css">
    <title>图片/音频/视频更多</title>
</head>
<body>
    <div id="root">
        <div name="banner" id="banner" class="banner">
            <ul name="daohang" id="daohang" class="daohang">
                <li><a href="../index.html">首页</a></li>
                <li><a href="../jiaocheng/index.html">教程</a></li>
                <li><a href="../yingyin/home.html">影音</a></li>
                <li><a href="../fankui/home.html">关于</a></li>
            </ul>
        </div>
        <div id="nav" class="nav">
            <ul id="title-box" class="title-box">
                <li id="picture"><span><a href="">图片</a></span></li>
                <li id="audio"><span><a href="">音频</a></span></li>
                <li id="video"><span><a href="">视频</a></span></li>
            </ul>
            <!-- <img src="../../static/img/common/picture.png" alt="图片icon" style="height: 32px; width:32px; padding-left: 3%;">&nbsp; 图片 -->
            <a href="./upload.html" class="click-upload">
                <img src="../../static/img/common/upload-cloud.png" alt="云上传icon"  style="height: 32px; width:32px;">
                <span>点击上传</span>
            </a>
        </div>
        <div id="main" class="main">
            <div id="img-content" class="content">
                <a href="">
                <img src="../../static/img/2233娘.jpg" alt="" >
                <span>这是2233娘视频</span></a>
            </div>
            <div id="audio-content" class="content" style="display: none;">
                音频显示
                <!-- <a href="">
                <img src="../../static/img/2233娘.jpg" alt="" >
                <span>这是2233娘视频</span></a> -->
            </div>
            <div id="audio-content" class="content" style="display: none;">
                视频显示
                <!-- <a href="">
                <img src="../../static/img/2233娘.jpg" alt="" >
                <span>这是2233娘视频</span></a> -->
            </div>
        </div>
        <div id="pager" name="pager" class="pager">
            <ul>
                <li id="left-arrow"><a href=""><img src="../../static/img/common/L-arrow.png" alt="左箭头"></a></li>
                <li>1</li>
                <li>2</li>
                <li><a href="">3</a> </li>
                <li><a href="">4</a> </li>
                <li><a href="">5</a> </li>
                <li><a href="">6</a> </li>
                <li>...</li>
                <li id="left-arrow"><a href=""><img src="../../static/img/common/R-arrow.png" alt="左箭头"></a></li>
            </ul>
        </div>
    </div>

    <!-- <script>
        var num = 14
        var div = document.getElementById('content')
        function cloneDiv(type, box_num) {
            if (type == 'img'){
                for (let index = 0; index < box_num; index++) {
                    var clone_div = div.cloneNode(true)
                    console.log(clone_div.firstElementChild.firstElementChild.src)
                    clone_div.firstElementChild.firstElementChild.src = '../../static/img/ciyun.png'
                    clone_div.firstElementChild.lastElementChild.innerText = 'mlgh'
                    document.getElementById('main').appendChild(clone_div)
                }
            }
        }
        cloneDiv('img', num)
    </script> -->
    <script>
        var picture = document.getElementById('picture')
        var audio = document.getElementById('audio')
        var video = document.getElementById('video')

        var picture_box = document.getElementById('img-content')
        var audio_box = document.getElementById('audio-content')
        var video_box = document.getElementById('video-content')

        // console.log('图片点击信息：' + picture.onclick())

        document.getElementById("title-box").addEventListener("click", function (e) {
            if (e.target.tagName == "LI") {
                console.log("radiovalue", e.target.value)
                var variable = e.target.value
                if (variable == 'img') {
                    picture_box.style.display = 'block'
                    audio_box.style.display = 'none'
                    video_box.style.display = 'none'

                } else if (variable == 'audio') {
                    imgInfo.style.display = 'none'
                    audioInfo.style.display = 'block'
                    videoInfo.style.display = 'none'
                }
                else {
                    imgInfo.style.display = 'none'
                    audioInfo.style.display = 'none'
                    videoInfo.style.display = 'block'
                }
            }
        })

        // picture.addEventListener('click', function(){
        //     console.log('点击的是图片，显示全部图片信息')
        //     picture_box.style.display = 'block'
        //     audio_box.style.display = 'none'
        //     video_box.style.display = 'none'
        // }) 

        // audio.addEventListener('click', function(){
        //     console.log('点击的是音频，显示全部音频信息')
        //     picture_box.style.display = 'none'
        //     audio_box.style.display = 'block'
        //     video_box.style.display = 'none'
        // }) 

    </script>
</body>
</html>