<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/img/weblogo.ico" />
    <link rel="stylesheet" href="../../static/css/global.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/yingyin/video-details.css" type="text/css">
    <title>生活の真相资源网</title>
</head>
<body>
    <a href="../yingyin/more.html" class="reback-out" style="margin-top: 60px;">
        <img src="../../static/img/common/reback.png" alt="返回箭头">
        <span>返回上一页</span>
    </a>
    <div id="main" class="main">
        <video src="../../static/vedio/点云工具3维图缩放优化.mp4" controls></video>
    </div>
    <div id="footer" class="footer">
        <div id="video-info" class="video-info">
            <span id="title" class="title">
                <h4>选集</h4>
                <img id="img-icon" src="../../static/img/common/double-list.png" alt="视图显示视频集数" onclick=changeImg()>
            </span>
            <div id="video-content" class="video-content">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <!-- <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div> -->
            </div>
            <div id="list-video-content" class="list-video-content" style="display: none;">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <!-- <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div> -->
            </div>
            <span id="title1" class="title">
                <h4>视频简介</h4>
            </span>
            <p id="info">Particles Bounce Logo Reveal是一款非常棒的Premiere Pro模板，带有干净，色彩鲜艳，富有创意的动画标识。它非常易于使用，您只需将徽标添加到占位符，更改文本并点击渲染即可。它可以是一个引人注目的标志，用于开始或结束您的项目。使用这个简短而充满活力的PP模板给您的观众留下深刻印象。</p>
        </div>
        <div id="download" class="download">
            <button class="download-now" style="width: 80%;color: white;"><img src="../../static/img/common/download.png"
                    alt="下载icon">直接下载</button><br>
            <strong><span>阿里云盘：</span></strong>
            <div style="font-size: 0;"><button style="border-radius: 5px 0 0 5px; margin-left: 10%; ">点击下载</button>
                <button style="border-radius: 0 5px 5px 0;border-style: none none none solid;">密码</button>
            </div><br>
            <strong><span>百度网盘：</span></strong>
            <div style="font-size: 0;"><button style="border-radius: 5px 0 0 5px; margin-left: 10%;">点击下载</button>
                <button style="border-radius: 0 5px 5px 0;border-style: none none none solid;" type="button">密码</button>
            </div><br>
            <strong><span>夸克网盘：</span></strong>
            <div style="font-size: 0;"><button style="border-radius: 5px 0 0 5px; margin-left: 10%;">点击下载</button>
                <button style="border-radius: 0 5px 5px 0; border-style: none none none solid;">密码</button>
            </div>

        </div>
    </div>
    <script>

        var videoContent = document.getElementById("video-content")
        var listVideoContent = document.getElementById("list-video-content")
        var title = document.getElementById("title1")
        var info = document.getElementById("info")
    

        function changeImg() {
            var img = document.getElementById("img-icon")
            if (img.getAttribute("src", 2) == "../../static/img/common/list.png"){
                console.log("当前是列表模式，将切换至视图模式")
                img.src = "../../static/img/common/double-list.png";
                videoContent.style.display= 'flex';
                title.style.display= 'flex';
                info.style.display= 'block';
                listVideoContent.style.display = 'none'

            }
            else{
                img.src = "../../static/img/common/list.png";
                videoContent.style.display= 'none';
                title.style.display= 'none';
                info.style.display= 'none';
                listVideoContent.style.display = 'flex'
            }
        }
    </script>
</body>
</html>