/* body {
    background-color: #0097a7;
    width: 100%;

} */

span {
    font-size: 18px;
}

.reback-out {
    display: inline-flex;
    flex-direction: row;
    height: 20px;
    width: 160px;
    margin-left: 10%;
    margin-top: 70px;
}

/* 白色图标显示黑色 */
.reback-out img {
    filter: brightness(0);
}

.reback-out span {
    display: -webkit-flex;
    height: 20px;
    margin-left: 10px;
    padding-left: 12px;
    line-height: 20px;
    font-size: 20px;
    color: black;
    border-style: none none none solid;
    border-color: black;
}

.main {
    display: flex;
    flex-direction: row;
    height: 45%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.audio-img {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
}

.img-frame {
    display: flex;
    position: relative;
    width: 100%;
    margin-left: auto;
    align-self: flex-end;
}

.wangyiyun {
    display: block;
    margin-left: auto;
    pointer-events: none;
    background-color: #d1578177;
    border-radius: 50%;
}

.title-cover {
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 25%;
    right: 125px;
}

.audio-img audio {
    width: 500px;
    margin-left: auto;
    margin-top: 25px;
}

/* 旋转动画设置 */
@keyframes playing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.lyrics {
    height: 100%;
    width: 50%;
    font-size: 14px;
    overflow: hidden;
    opacity: 1;
}

.title {
    display: flex;
    position: relative;
    width: 100%;
    height: 120px;
    justify-content: center;

}

.lyrics h2 {
    position: absolute;
    top: 50%;
}

/* 页面增加遮罩的方式 */
.mask {
    height: 80px;
    width: 100%;
    background: linear-gradient(#ffffff, #ffffffd1);
    opacity: 0.9;
}

.lrc-area {
    width: 100%;
    height: calc(100% - 120px);
    margin-top: 25px;
    overflow: hidden;
}

.download {
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 150px;
}


/* 盒子中盒子水平均分的方式 */
.download ul {
    display: block;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: box;
    width: 100%;
    height: 100%;
}

ul div {
    height: 40px;
}

/* 控制盒子是否可以变形 */
.download li {
    margin: 0px 10px 0px 10px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    -webkit-box-flex: 1;
}

.download-now {
    display: block;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #00a1d6;
    height: 40px;
}

li div {
    display: flex;
    flex-direction: row;
}

li>div>button {
    font-size: 14px;
    display: block;
    border: none;
    color: #757575;
    height: 40px;
    width: 50%;
}

.play {
    background-color: #00000000;
    font-size: 20px;
}