/* 使盒子中的img span标签垂直居中 */
.img-title {
    position: relative;
    display: -webkit-flex;
    width: 80%;
    height: 30px;
    padding-top: 50px;
    margin-left: 10%;
    align-items: center;
    /* background-image: -webkit-linear-gradient(left, #00bcd4, #ffffff00) */
}

.img-title a,
.mucis-title a,
.video-title a{
    display: flex;
    position: absolute;
    border-radius: 5px;
    color: #fc8bab;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 3%;
}

.img-title span,
.mucis-title span,
.video-title span{
    font-size: 18px;
    font-weight: bold;
}

.img-content,
.music-content,
.video-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 20%;
    margin-top: 5px;
    margin-left: 10%;
}

.mucis-title,
.video-title {
    position: relative;
    display: -webkit-flex;
    width: 80%;
    height: 30px;
    margin-top: 50px;
    margin-left: 10%;
    align-items: center;
    /* 使用渐进色 */
    /* background-image: -webkit-linear-gradient(left, #00bcd4, #ffffff00) */
}

.img-content a,
.music-content a,
.video-content a {
    display: inline-flexbox;
    width: 23%;
    height: 100%;
    margin-right: 25px;
}

.single-content {
    width: 100%;
    height: 100%;
}

.single-content div{
    padding-top: 8px;
    vertical-align:middle;
    color: black;  
}

.single-content img,
video {
    object-fit: fill;
    display: block;
    width: 100%;
    height: 80%;
    background-color: black;
}

.single-content div:hover {
    color: #00aeec;
  }