body {
    background-color: #0097a7;
    width: 100%;
}

span{
    font-size: 18px;
}

.reback-out {
    display: inline-flex;
    flex-direction: row;
    height:20px;
    width: 160px;
    margin-left: 10%;
    margin-top: 70px;
}

.reback-out span {
    display: -webkit-flex;
    height: 20px;
    margin-left: 10px;
    padding-left: 12px;
    line-height: 20px;
    color: white;
    font-size: 20px;
    /* font-weight: bold; */
    border-style: none none none solid;
    border-color: white;
    border-width: 1px;
}

.main{
    display: flex;
    height: 70%;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    background-color: #0097a7;
}

.details{
    position: relative;
    overflow-y: auto;
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background-color: #b2ebf2;
}

.details p {
    display: block;
    margin-block-start: 8em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
}

.download{
    width: 100%;
    position: absolute;
    margin-bottom: 0px;

}

.download-now {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #03a9f4;
    height: 30px;
}

.download span{
    display: block;
    margin-left: 20px;
    margin-bottom: 4px;
}

.picture-list{
    position: relative;
    width: 73%;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #ffffff;
    overflow-y: auto;
}

.show-img{
    position: fixed;
    display: block;
    margin-left: 2%;
    margin-top: 20px;
}

.separate{
    position: fixed;
    width: 53.5%;
    height: 25px;
    margin-top: 60px;
    margin-left: 2%;
    background-color: #eeeaea;
}

.content{
    display: flex;
    margin-top: 100px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 96%;    

}

.content img{
    /* flex: 1; */
    height: 200px;
    margin: 0 5px 5px 0; 
    margin-left: 2%; 
    object-fit: contain;
    object-position: 50% 50%;
    width: 30%;;     
}
