body {
    background-color: #0097a7;
    width: 100%;

}

span {
    font-size: 18px;
}

.reback-out {
    display: inline-flex;
    flex-direction: row;
    height: 20px;
    width: 160px;
    margin-left: 10%;
}

.reback-out span {
    display: -webkit-flex;
    height: 20px;
    margin-left: 10px;
    padding-left: 12px;
    line-height: 20px;
    font-size: 20px;
    color: white;
    border-style: none none none solid;
    border-color: white;
}

.main{
    display: flex;
    width: 80%;
    height: 55%;
    margin-top: 10px;
    margin-left: 10%;
    background-color: black;
    justify-content: center;
    border-radius: 5px;
    /* 盒子中的盒子水平居中 */
}

.main video{
    max-height: 100%;;
    /* min-height: 460px; */
}

.footer{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 28%;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 5px;
}

.video-info{
    height: 100%;
    width: 74%;
    border-radius: 5px;
    overflow: auto;
    background-color:  #b2ebf2;
}

.title{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 32px;
    margin-top: 20px;
}

h4{
    display: block;
    margin-left: 30px;
    line-height: 32px;
}

/* 图像hover显示 */
.title>img{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    filter: grayscale(100%);
}

.title>img:hover {
    filter: none;
    opacity: 1;
    }

.video-content{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    width: 96%;
    height: 40%;
    overflow: scroll;
    margin-left: 30px;
}

.list-video-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
    width: 96%;
    height: 80%;
    overflow-x: scroll;
    margin-left: 30px;
}

.list-video-content>div{
    width: 200px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}


/* 隐藏滚动条 */
.video-content::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

.video-content>div{
    width: 40px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

p{
    margin-left: 30px;
    font-size: 12px;
    text-indent:2em;
    color: #958fa2;

}

.download{
    height: 100%;
    width: 25%;
    margin-left: 1%;
    border-radius: 5px;
    overflow: auto;
    background-color:  #b2ebf2;
}

.download::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

.download-now {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    background-color: #03a9f4;
    height: 30px;
}

.download span{
    display: block;
    margin-left: 20px;
    margin-bottom: 8px;
    color: #28a9f3;
}
.download button{
    border: none;
    height: 30px; 
    width: 40%;
    color: #000000;
    border-color: darkgrey;
    border-width: 1px; 
}

