<head>
    <link rel="stylesheet" href="../static/css/search_form.css">
    <link rel="stylesheet" href="../static/css/index/index.css">
</head>

<div name="banner" id="banner" class="banner">
    <div class="nav_menu w">
        <div class="menu_item">
            <div class="home">首页</div>
            <a class="web_home" href="{{ url_for('home.index') }}">
                <div>直播/咨询</div>
            </a>
        </div>
        <div class="menu_item">
            <div class="home">软件</div>
            <a class="web_home" href="{{ url_for('jiaocheng.index') }}">
                <div>软件/教程/插件</div>
            </a>
        </div>
        <div class="menu_item">
            <div class="home">影音</div>
            <a class="web_home" href="{{ url_for('yingyin.index') }}" class="web_home">
                <div>音/视频</div>
            </a>
        </div>
        <div class="menu_item">
            <div class="home">关于</div>
            <a class="web_home" href="{{ url_for('guanyu.about') }}">
                <div>意见反馈</div>
            </a>
        </div>
    </div>

    <section class="webdesigntuts-workshop">
        <form action="{{ url_for('jiaocheng.search', page=1) }}" method="get" class="search-form">
            <input type="search" name="text" placeholder="点击开始搜索">
            <button>Search</button>
        </form>
    </section>

    <a href="{{ url_for('home.index') }}"><img
            src="https://qianye.obs.cn-south-1.myhuaweicloud.com:443/qianye/static/common/%E9%80%8F%E6%98%8Elogo.png?AccessKeyId=OHQITEJKYFBD5A0D6YMV&Expires=1704548027&Signature=EmwMsqcx3aqr2P7uK3KPah4tPkU%3D"
            alt="网站logo" class="logo"></a>
</div>


	

