<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index/index.css" type="text/css">
    <title>首页</title>
</head>

<body>
    <div name="banner" id="1" class="banner">
        <div name="shouye" id="shouye" class="shouye">
            <a href="">首页</a>
        </div>
        <div name="jiaocheng" id="jiaocheng" class="jiaocheng">
            <a href="">教程</a>
        </div>
        <div name="yingyin" id="yingyin" class="yingyin">
            <a href="">影音</a>
        </div>
        <div name="guanyu" id="guanyu" class="guanyu">
            <a href="">关于</a>
        </div>
    </div>
    <div name="zhuti" id="zhuti" class="zhuti">

    </div>
</body>

</html>