<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index/index.css">
    <link rel="icon" type="image/x-icon" href="../static/img/weblogo.ico" />
    <link rel="stylesheet" type="text/css" href="../static/css/timeline/style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/timeline/swiper-3.4.2.min.css" />
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.13.2/skins/default/aliplayer-min.css" />
    <title>生活の真相资源网</title>
</head>
<body>
    <div id="root">
        {% include 'banner.html' %}
        <main class="main">
            <div id="contain" class="contain">
                <div class="prism-player" id="J_prismPlayer"></div>
                <div id="Rwrap" class="Rwrap"><div id="tag" class="tags">
                    <div>上</div>
                    <div><span>我是标签信息</span></div>
                    <div>下</div>
                </div>
                <div class="tabbox">
                    <div class="tab">
                        <a href="javascript:;" class="on">赛程</a>
                        <a href="javascript:;">赛事规则</a>
                    </div>
                    <div id="schedules" hidden="hidden">{{ result.schedule }}</div>
                    <div id="rules" hidden="hidden">{{ result.rules }}</div>
                    <div class="content">
                        <ul>
                            <li>
                                <div id="schedule"></div>
                            </li>
                            <li>
                                <div id="rule"></div>
                            </li>
                        </ul>
                    </div>
                </div></div>
                
            </div>
            <div class="product-section product-features">
                <div class="product-title">花滑赛事·2022-2023赛季</div>
                <div class="product-wrapper">
                    <!-- <div id="schedule_list" hidden>{{ result.schedule_list }}</div> -->
                    <div class="product-body swiper-container">
                        <ul class="features-slide swiper-wrapper">
                            {% for schedule in result.schedule_list %}
                            <li id="single-schedule" class="features-item swiper-slide">
                                <h3>{{ schedule.mtime }}</h3>
                                <i></i> <a class="features-info">
                                    <p class="features-info-i"></p>
                                    <p id=title class="features-info-s"> {{ schedule.title }} </p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next swiper-button-disabled"></div>
                </div>
            </div>
        </main>
        <div id="footer" class="footer">
            <span style="display: block;">Designed and developed by bilibili UP <a
                    href="https://space.bilibili.com/484311775?spm_id_from=333.999.0.0">生活の真相</a></span>
            <a href="https://beian.miit.gov.cn"><span>粤ICP备2021019114号</span></a>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8"
        src="https://g.alicdn.com/de/prismplayer/2.13.2/aliplayer-min.js"></script>
    <script>
        var player = new Aliplayer({
            id: 'J_prismPlayer',
            source: 'artc://qianye-bzhan.top/live/live?auth_key=1670590313-0-0-73c470aec277961ee6d84b28cc7ae05a',//播放地址，使用超低延时直播（RTS）地址，协议是artc://。
            // rtsFallbackSource: '<your play URL>',//（可选）RTS的降级地址（如HLS地址或FLV地址）。
            isLive: true,//是否为直播播放。
            autoplay: false,
            // rtsVersion: 'x.x.x', //可以手动指定RTS SDK的版本。
            width: "960px",
            height: "540px",
            showBuffer: "../static/img/common/2233娘.jpg",
            definition: 'FD,SD,HD,OD',
            defaultDefinition: 'FD',
            loadDataTimeout: '10',
            cover: "../static/img/player/cover_960x540.png"
        }, function (player) {
            console.log('The player is created.')
        });
        //当RTS降级时触发，参数reason为降级的原因，fallbackUrl为降级到的地址。
        player.on('rtsFallback', function (event) {
            console.log(' EVENT rtsFallback', event.paramData);
        })
    </script>
    <script src="../static/js/jquery-3.6.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            var mySwiper = new Swiper(".swiper-container", {
                slidesPerView: 4, //默认是显示4个
                initialSlide: 999, //默认从第几个显示，999是为了让右边没有
                spaceBetween: 0, //间距
                speed: 1000,//速度
                prevButton: ".swiper-button-prev", //左右按钮
                nextButton: ".swiper-button-next"
            })
        })
    </script>
    <script>
        $(function () {
            $('.tabbox .content ul').width(500 * $('.tabbox .content li').length + 'px');
            $(".tabbox .tab a").mouseover(function () {
                $(this).addClass('on').siblings().removeClass('on');
                var index = $(this).index();
                number = index;
                var distance = -500 * index;
                $('.tabbox .content ul').stop().animate({
                    left: distance
                });
            });

            var auto = 0;  //等于1则自动切换，其他任意数字则不自动切换
            if (auto == 1) {
                var number = 0;
                var maxNumber = $('.tabbox .tab a').length;
                function autotab() {
                    number++;
                    number == maxNumber ? number = 0 : number;
                    $('.tabbox .tab a:eq(' + number + ')').addClass('on').siblings().removeClass('on');
                    var distance = -500 * number;
                    $('.tabbox .content ul').stop().animate({
                        left: distance
                    });
                }
                var tabChange = setInterval(autotab, 3000);
                //鼠标悬停暂停切换
                $('.tabbox').mouseover(function () {
                    clearInterval(tabChange);
                });
                $('.tabbox').mouseout(function () {
                    tabChange = setInterval(autotab, 3000);
                });
            }
        });
    </script>
    <script>
        $(function () {
            $("#schedule").html($("#schedules").text());
        });
        $(function () {
            $("#rule").html($("#rules").text());
        });
    </script>
</body>

</html>