<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index/index.css">
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.13.2/skins/default/aliplayer-min.css" />
    <script type="text/javascript" charset="utf-8"
        src="https://g.alicdn.com/de/prismplayer/2.13.2/aliplayer-min.js"></script>
    <title>首页</title>
</head>

<body>
    <div id="root">
        <div name="banner" id="banner" class="banner">
            <a href="{{ url_for('home.index') }}"><img src="../static/img/common/透明logo.png" alt="网站logo"
                    class="logo"></a>
            <ul name="daohang" id="daohang" class="daohang">
                <li><a href="{{ url_for('home.index') }}">首页</a></li>
                <li><a href="{{ url_for('jiaocheng.index') }}">软件</a></li>
                <li><a href="{{ url_for('yingyin.index') }}">影音</a></li>
                <li><a href="{{ url_for('guanyu.about') }}">关于</a></li>
            </ul>
        </div>
        <main class="main">
            <div id="contain" class="contain">
                <div class="prism-player" id="player-con"></div>
            </div>
            <!-- 调研词云图生成和弧形文字书写 -->
            <div id="footer" class="footer">
                <span style="display: block;">Designed and developed by bilibili UP <a
                        href="https://space.bilibili.com/484311775?spm_id_from=333.999.0.0">生活の真相</a></span>
                <a href="https://beian.miit.gov.cn"><span>粤ICP备2021019114号</span></a>
            </div>
        </main>
    </div>
        <script>
            let playsource = ''
            //定义一个函数判断是手机端还是pc端
            function isMobile() {
                if (window.navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) {
                    return true; // 移动端
                } else {
                    return false; // PC端
                }
            }
            //    判断后的操作
            // 判断true跳转到这个主页
            if (isMobile()) {
                playsource = 'http://qianye-bzhan.top/app/stream.m3u8?auth_key=1669328279-0-0-4b3cefb43a5ef4da041a9376ca5f652d'

            } else {
                playsource = 'rtmp://qianye-bzhan.top/app/stream?auth_key=1669342758-0-0-e699f24cf7b800f217e98d03743f731b'

            }

            console.log('当前的playsource是：' + playsource)

            var player = new Aliplayer({
                "id": "player-con",
                "source": playsource,
                "width": "100%",
                "height": "500px",
                "autoplay": true,
                "isLive": true,
                "rePlay": false,
                "playsinline": true,
                "preload": true,
                "controlBarVisibility": "hover",
                "useH5Prism": true
            }, function (player) {
                console.log("The player is created");
            }
            );
        </script>
</body>

</html>