<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		li {
			list-style: none;
		}

		.dabox {
			margin: 100px auto;
		}

		.dabox>li {
			cursor: pointer;
			margin: 50px;
			width: 100px;
			height: 100px;
			background: #F77C7F;
		}

		.dabox>li.no {
			background: #41B468;
		}
	</style>
</head>

<body>
	<ul class="dabox" id="dabox">
		<li class="no" int="1"></li>
		<li int="2"></li>
		<li int="3"></li>
	</ul>
	<script>
		window.onload = function () {
			var li = document.getElementById("dabox").getElementsByTagName("li");
			for (var i = 0; i < li.length; i++)i
			li[i].onclick = function(){
				var shu = this.getAttribute("int"); 
				for (var j = 0; j < li.length; j++) {
					if (li[j].className == "no") { li[j].className = ""; }
				}
				li[shu - 1].className = "no";
				/ /
			}
		}
	</script>
</body>

</html>