<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    .box {
      width: 200px;
      display: table;
      margin: 0 auto;
    }

    .one {
      width: 100px;
      background-color: pink;
      display: table-cell
    }

    .two {
      width: 100px;
      background-color: red;
      display: table-cell;
    }
  </style>
</head>

<body>
  <div class="box">
    <div class="one">1</div>
    <div class="two">最新的 才不是最近好的怎么
      办
      的
      呢
      对不</div>
  </div>
</body>

</html>