<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS样式:点击图片上传文件</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<style>
		/*定义图像以及大小*/
		.imageFileInput{
			width: 200px;
			height: 200px;
			/* position: absolute; */
			background-color: red; /*这里可以换成图片路径（background-image：../img/....）注意图片路径*/
		}
		
		/*定义上传*/
		.fileInput{
			height: 100%;
			/* position: absolute; */
			right: 0;
			top: 0;
			opacity: 0;
		}</style>
</head>
<body>
<div class="imageFileInput">
    <input class="fileInput" type="file" id="" name="" multiple>文件长传
</div>
</body>
</html>