#root{
    position: relative;
}

a{
    color: #00a1d6; 
}

.main{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-top: 9%;
    align-items: flex-end;
}

#daohang{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 50px;
    right: 0px;
    top: 0;
    justify-content: flex-end;
    /* 盒子中的盒子居右对齐 */
    align-items: center;
}

#daohang li{
    text-align: right;
    display: block;
    width: 100px;
    height: 50px;
}

/* 盒子中的a标签水平垂直居中 */
#daohang a{
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 28px;
    text-align: center;
}

#daohang>a:hover {
    color: #fc8bab;
}

.img{
    width: 35%;
    height: 100%;
    margin-left: 50px;
    object-fit: fill;
    /* background-color: aqua; */
}

.feedback{
    width: 35%;
    height: 80%;
    margin-bottom: -50px;
    margin-left: -40px;
    overflow: auto;
    background-color: #ffffff;
}

.cat-img{
    height:193px;
    width: 143px;
    margin-left: auto;
    margin-top: 100px; 
}

h2{
    display: block;
    margin-top: 30%;
    font-size: 30px;
    margin-left: 25%;
}

.feedback span{
    display: block;
    color: #757575;
    font-size: 12px;
    margin-top: 6px;
    margin-left: 25%;
}

#username{
    display: block;
    width: 38%;
    height: 35px;
    margin-left: 25%;
    margin-top: 20px;
    background-color: #c9c8c8;
    border: none;
    border-radius: 5px;
    outline:medium; 
    /* box-shadow: 0 5px 10px 0px rgb(100, 100, 100); */
}

input::placeholder {
    color: #757575;
    font-size: 10px;
  }

.submit{
    width: 60%;
    height: 45%;
    margin-top: 15px;
    margin-left: 25%;
}

#msg{
    display: block;
    border: none;
    outline:medium;
    background-color:  #c9c8c8;
    
}

button{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    width: 60px;
    height: 25px;
    right: 0;
    color: white;
    border-radius: 5px;
    background-color: #3b2518;
}

.box{
    display:flex;
    margin-top:8%;
    align-items:center;
  }
  .line{
    width: 30%;
    border-top:1px solid #000;
  }

  .line:first-child{
    margin-left: 15%;
  }
  .text{
    margin:0 10px;
  }
