#root{
    position: relative;
}

.main{
    height: 75%;
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
    background-color: #7fff00;
}

#daohang{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50px;
    /* background-color: beige; */
    /* margin-top: 10%;
    margin-left: 10%; */
    justify-content: flex-end;
    /* 盒子中的盒子居右对齐 */
    align-items: center;
}

#daohang li{
    text-align: right;
    display: block;
    width: 100px;
    height: 50px;
}

/* 盒子中的a标签水平垂直居中 */
#daohang a{
    display: block;
    width: 100%;
    color: #101010;
    line-height: 50px;
    font-size: 28px;
    text-align: center;
}

a:hover {
    color: red;
  }