.biaotixian {
    align-content: center;
    margin-top: 10px;
    width: 90%;
    border: 1px dashed gray
  }

.line-box{
    width: 80%;
    height: 100px;
    margin-top: 15px;
    margin-left: 10%;
    border-style: dashed none  none;
    border-color: #BBBBBB;
    border-width: 1px;
    position: absolute;
}

.filter{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-bottom: 1px dashed #BBBBBB;
    position: relative;
    margin: 0;
    padding: 15px 0px 15px 0px;
    list-style: none;
}

main{
    background-color: beige;
}
.filter li{
    display: flex;
    width: 100px;
    border-width: 1px;
    border-style: none solid none none;
    border-color: #BBBBBB;
    justify-content: center;
}

.filter li a{
    color: black;
}

.card-area{
    width: 80%;
    /* height: 100%; */
    margin-left: 10%;
    margin-top: 129px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    background-color: chartreuse;

}


@media (max-width: 1920px) {
    .card{
        height: 250px;
        flex: 0 0 20%;
        position: relative;
        border-radius: 5px;
        background-color: cornflowerblue;
        -webkit-box-flex: 0;
    }
}

