.biaotixian {
    align-content: center;
    margin-top: 10px;
    width: 90%;
    border: 1px dashed gray
}

.line-box {
    width: 80%;
    height: 100px;
    margin-top: 15px;
    margin-left: 10%;
    border-style: dashed none none;
    border-color: #BBBBBB;
    border-width: 1px;
}

.filter {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-bottom: 1px dashed #BBBBBB;
    position: relative;
    margin: 0;
    padding: 15px 0px 15px 0px;
    list-style: none;
}

.filter li {
    display: flex;
    width: 100px;
    border-width: 1px;
    border-style: none solid none none;
    border-color: #BBBBBB;
    justify-content: center;
}

.filter li a {
    color: black;
}

.card-area {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    flex-direction: row;
    align-content:flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 60%;
    display: block;

}


/* 超过1920显示器的显示样式 */
@media (max-width: 2760px) {
    .card {
        height: 350px;
        flex: 0 0 18%;
        position: relative;
        border-radius: 5px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        background-color: whitesmoke;
        -webkit-box-flex: 0;
        overflow: hidden;
    }
}

/* 低于或等于1920显示器的显示样式 */
@media (max-width: 1920px) {
    .card {
        height: 250px;
        flex: 0 0 23%;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        position: relative;
        border-radius: 5px;
        background-color: whitesmoke;
        -webkit-box-flex: 0;
    }
}

.son-tag {
    display: flex;
    width: 100%;
    height: 12%;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
}

.point-1 {
    margin-left: 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2196f3;
}

.point-2 {
    margin-left: 15px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #66be7a;
}

.card span {
    display: block;
    font-size: 12px;
    margin-left: 5px;
}

.card-title {
    height: 20%;
    width: 100%;
    font-size: 20px;
    display: -webkit-box;
    word-break: break-all;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    color: black;
    font-weight: bold;
    -webkit-line-clamp: 2;
}

.preview {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.preview img {
    margin-left: 5px;
    display: block;
    align-items: center;
    justify-content: center;
}

.preview span {
    margin-left: 5px;
    display: -webkit-flex;
    color: #bfbfbf;
    align-items: center;
}

.pager {
    margin-left: 40%;
    width: 20%;
    height: 32px;
}

.pager ul {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.pager img{
    vertical-align: middle;
}

.pager li {
    display: block;
    list-style: none;
    width: 32px;
    background-color: white;
    text-align: center;
    justify-content: center;
    line-height:32px;
}

.footer{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #B5B5B5;
}