.main {
    /* height: 100%; */
    background-color: #f4f5f7;
    padding-top: 0px;
}

.focusbox{
    text-align: center;
    background-color: #384047;
    color: #eee;
    padding: 45px 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: bold;
}

#wrap{
    height: 80px;
    display: table;
    position : fixed;
    z-index  : 88;
    left:0px;
}

#wrap a{
    font-size: larger;
    color: #ffffff;
}

#wrap a:hover{
    color: #fc8bab;
}

.uploads{
    display: table-cell;
    word-break:keep-all;
    /* word-wrap:break-word; */
    text-align: center;
    vertical-align:middle;
    border-radius: 0 40px 40px 0;
    width: 60px;
    font-size: 21px;
    background-color:#384047
}


.contain{
    width: 80%;
    /* height: 100%; */
    margin-top: 18px;
    background-color: #f4f5f7;
}

.details{
    /* height: 30%; */
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

#icon{
    padding-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

#icon img{
    width: 100px;
    height: 100px;
    object-fit: fill;
}

#mid{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
}

#software-name{
    position: relative;
    margin-left: 25px;
    display:table-cell; 
    vertical-align:bottom;
}

#software-name p{
    position: absolute;
    color: #afafaf;
    bottom: 10px;
}

#software-name h2{
    padding-top: 20px;
}

.details p{
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;

}

.download {
    height: 100%;
    width: 24%;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 25px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #E1E4E5;
}

.download-now {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #03a9f4;
    height: 30px;
}

.download strong {
    display: block;
    font-size: 20px;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 10%;
    margin-inline-end: 0px;

}

.software-details{
    /* margin-left: 10%; */
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 5px;
    background-color: #ffffff;
}

.software-details p{
    line-height: 1.8;
    word-wrap: break-word;
}

.software-details h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 10px;
    border-bottom: 0 solid rgba(254,64,102,.2);
    border-left: 5px solid #3d89ff;
    color: #3d89ff;
    font-size: 20px;
}

.software-details ul{
    display: block;
    padding-left: 2em;
    margin-bottom: 20px;
    list-style-position: outside;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.software-details li{
    display: list-item;
    list-style: disc;
    text-align: -webkit-match-parent;
    margin-bottom: 5px;
}
