.focusbox{
    text-align: center;
    background-color: #384047;
    color: #eee;
    padding: 45px 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: bold;
}

.contain{
    width: 80%;
    height: 100%;
    margin-top: 18px;
    background-color: #f4f5f7;
}

.details{
    height: 30%;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

#icon{
    padding-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

#icon img{
    width: 100px;
    height: 100px;
    object-fit: fill;
}

#software-name{
    margin-left: 25px;
    display:table-cell; 
    vertical-align:bottom;
}

h2{
    padding-top: 20px;
}

/* #software-name span:last-child{
    position: absolute;
    position: bottom;
    font-size: 10px;
} */
/* #icon span{
    display: block;
    padding-left: 25px;
} */