body {
    /* background-color: #00BCD4; */
    width: 100%;
}

.reback-out {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 120px;
    margin-left: 15%;
    margin-top: 80px;
}

.reback {
    display: flex;
    flex-direction: row;
    filter: brightness(0);
    height: 20px;
    width: 120px;
}

.reback-icon {
    display: block;
    height: 20px;
    width: 20px;
}

.reback img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.reback span {
    display: -webkit-flex;
    height: 20px;
    margin-left: 10px;
    padding-left: 5px;
    font-size: 16px;
    border-style: none none none solid;
    border-color: black;
    border-width: 2px;
    align-items: center;
}

.play-video {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

#root video {
    display: flex;
    margin-left: 15%;
    height: 100%;
    width: 70%;
    border-radius: 5px;
    background-color: black;
}

.details-download {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.details {
    display: flex;
    width: 44%;
    height: 100%;
    margin-left: 15%;
    margin-top: 15px;
    padding-left: 1%;
    border-radius: 5px;
    background-color: #E1E4E5;
}

.details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.details h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.download {
    width: 24%;
    margin-top: 15px;
    margin-left: 1%;
    border-radius: 5px;
    background-color: #E1E4E5;
}

.download-now {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    background-color: #03a9f4;
    height: 30px;
}

.download strong {
    display: block;
    font-size: 20px;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 10%;
    margin-inline-end: 0px;

}

.left-right{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 60px;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    justify-content:space-between
    
}

.left-right div{
    border-radius: 5px;
    width: 49.5%;
    height: 100%;
    align-items:center; 
    display: -webkit-flex;
    background-color: #E1E4E5;
    justify-content:space-between
}

.left-right img{
    width: 20px;
    height: 20px;
    margin: auto;

}

.left-right span{
    height: 20px;
    width: 90%;
    text-align: right;
    }